.temp-border {
  border: 2px solid red;
}

.mar {
  margin: auto;
  text-align: center;
}

.iframe-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%;
  height: 0;
}
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.img-container {
  flex: 1 1 auto;
}

.cust-padding-bottom {
  padding-bottom: 6rem !important;
}

.fmb {
  margin-bottom: 4.8rem !important;
}

/*** Dark theme toggle code ***/
#darkmode-btn {
  border: none;
}

#toggle-on {
  color: var(--bs-secondary-color);
  position: relative;
  left: 0.6rem;
}
#toggle-off {
  color: var(--bs-emphasis-color);
  position: relative;
  right: 0.4rem;
}

/* This makes the background color of the lightbox toolbar completely transparent (which is great) */
.ril__toolbar {
  background-color: rgba(0, 0, 0, 0) !important;
}

/* .logo-svg {
  height: 100px;
} */

.logo_t {
  color: green;
}

.logo-name,
.my-role {
  fill: #496683 !important;
  /* fill: var(--bs-secondary-text-emphasis) !important; */
}

.logo-byline {
  fill: var(--bs-dark-text-emphasis) !important;
}

/* These are sort of a guess, may need work */
@media (min-width: 375px) {
  .logo-svg {
    height: 45px;
  }
}
@media (min-width: 425px) {
  .logo-svg {
    height: 65px;
  }
}
@media (min-width: 768px) {
  .logo-svg {
    height: 96px;
  }
}
@media (min-width: 992px) {
  .logo-svg {
    height: 114px;
  }
}
@media (min-width: 1200px) {
  .logo-svg {
    height: 132px;
  }
}
/* @media (min-width: 1400px) {
  .logo-svg {
    height: 160px;
  }
} */

/* This makes the carousel images fit on mobile */
.carousel-image {
  height: 85vh !important;
  /* This works better than the calc to move the caption up into view at the bottom */
  padding-bottom: 10%;
  /* height: calc(100vh - 65px) !important; */
}

/* This is passed to the thumbnails in the gallery and makes the cursor into a pointer */
.gallery-img {
  cursor: pointer;
}

.insurance {
  color: #73aa6f;
}